body{
    background-image: url("../assets/home_bg.png");
    background-size: cover;
    background-position: center;
    color: white;
}
#data{
    background-color: rgb(222, 135, 135);
    font-size: 0.8em;
}

#start{
    background-color: burlywood;
    
}

#more{
    background-color: cadetblue;
    font-size: 0.8em;
}
