body {
    /* background-color: rgba(0, 0, 0, 0.169); */
    background-color: bisque;
    font-size: 40px;
    height: 100vh;
    user-select: none;
    overflow: hidden;
    
}

*{
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: border-box;
    background-size: auto 100%;
}

#data_list {
    top: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    background-color: rgb(219, 173, 173);
}

span {
    color: black;
}

.data_item {
    flex: none;
    width: 25%;
    text-align: center;
    align-items: center;

}

#customerNum {
    width: 25px;
    height: 25px;
    margin-right: 2%;
}

#cover {
    position: absolute;
    z-index: 99999;
    top: 8vh;
    left: 1vw;
    display: block;
    height: 88vh;
    /* % 基於父元素 */
    width: 85vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1vw dashed pink;
    background-color: rgba(66, 65, 63, 0.795);
    backdrop-filter: blur(5px);

}

#coverContent {
    text-align: center;
    line-height: 88vh;
    font-weight: bold;
    font-size: 10vh;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px black;
    opacity: 0;

}


.animate-pulse {
    animation: countdown-effect 1s ease-out;
}

@keyframes countdown-effect {
    0% {
        transform: scale(3);
        opacity: 0;
    }

    20% {
        transform: scale(1);
        opacity: 1
    }

    80% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(0.8);
        opacity: 0
    }
}

#main {
    position: absolute;
    top: 8vh;
    left: 1vw;
    display: block;
    height: 88vh;
    /* % 基於父元素 */
    width: 85vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: 1vw dashed pink;
    background-color: bisque;

}

#upstairs {
    margin-top: 7vh;
    width: 100%
}

.flexContiner {
    display: flex;
}

/* 加入樓層背景圖 */
.floor {
    margin-top: 5vh;
}

.flexBox {
    flex: none;
    text-align: center;

}

.up_item {
    background-color: gray;
    line-height: 15vh;
    height: 15vh;
}

/* 加入樓梯/ 電梯 */
.lift {
    flex: none;
    width: 15vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.room_section {
    margin-left: auto;
    margin-right: 10vw;
    justify-content: end;
    justify-items: end;
}
/*加入房的圖片*/
.room {
    flex: none;
    width: 15vw;
    margin-right: 5vw;
    background-image: url("../img/room.jpg");
}

.active {
    background-image: url("../img/activeRoom.jpg");
}

.need-clean {
    background-image: url("../img/needClean.jpg");
}
#ground {
    margin-top: 5vh;
    margin-bottom: 0%;
    height: 20vh;

}

#waitting {
    line-height: 20vh;
    height: 20vh;
    width: 40vw;
    background-color: rgb(224, 124, 124);
}

#object_section {
    margin-left: 2vw;
    margin-right: 2vw;
    /* justify-content: end;
    justify-items: end; */

}

#lift_0 {
    margin-top: 5vh;
}

.g_item {
    height: 7.5vh;
    margin-right: 2vw;
    width: 10vw;
    background-color: cadetblue;
    border: 1px solid black;
}

#playerGroup{
    width: 7vw;
    height: 20vh;
    position: absolute;
    z-index: 99;
    left: 25%;
    bottom: 40%;
    transition: none;
    pointer-events: none;/* 點擊可以穿透到下一層 */
}

#mainCharacter {
    width: 3vw;
    height: 9vh;
    
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: red;
}
#trolley{
    width:3vw;
    height:5vh;
    background-color:rgba(43, 0, 255, 0.104);
    position:absolute;
    right: 0;
    bottom: 0;
    z-index:99;
    
}

[id^="slot_"] { 
    position: relative;
    width: 3.5vh;
    height: 3.5vh;
}


.trolley_item {
    position: absolute;
    top: auto;
    left: auto;
    width: 100%;
    height: 70%;
    display: none;
}

.hasFood .food {
    display: block !important; /* 加入 !important 確保它優先於任何隱藏指令 */
}

.hasTrash .trash {
    display: block !important;
}


.food{
    background-image: url("../img/food.png");
    
}
.trash{
    background-image: url("../img/trash.jpg");
    background-size: 100% auto;
}

.guest{
    font-size: 2em;

}
.selectedGuest {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.8));
    transition: filter 0.3s ease;
}



.interact_item {
    z-index: 999;
}

.stop {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    height: 8vw;
    width: 8vw;
    text-align: center;
    line-height: 6vw;
    border-radius: 50%;
    background-color: rgb(186, 150, 102);
    /* border: 2px solid black; */
    box-shadow: 0px 0px 10px;
}