body{
    background-image: url("../img/background_1.svg");
    background-repeat: repeat;
    background-color: aliceblue;
}

.linkBox{
    display: inline-block; 
    width: 15%;            
    margin-left: 7%;       
    margin-right: 7%;      
    margin-top: 5%;
    text-decoration: none;
    color: aliceblue;
    vertical-align: top;   
}

#back{
    bottom: 5vh;
    left: 0%;
    width: 30%;
    height: 5%;
    border-radius: 9%;
    background-color:rgb(177, 117, 40);
    text-align: center;
    
}


.flexBox_level{
    flex: none;
    width: 20%;
    height: 15%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
    background-color: cadetblue;
    text-align: center;
    border-radius: 5%;

}
#soon{
    font-size: 0.7em;
    text-align: start;
}
